@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}




@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(45px) scale(0.97);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.94);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


* {
  cursor: none;
}
.custom-cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  border: 1.5px solid #228b48;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999;

  transform: translate(-50%, -50%);

  transition:
    width 0.35s ease,
    height 0.35s ease,
    opacity 0.3s ease;
}

.custom-cursor.cursor-hover {
  width: 35px;
  height: 35px;
}
html {
  overscroll-behavior-y: none;
}
.dot{
  width: 8px;
  height: 8px;
  border: 1.5px solid #114624;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999;
  background-color:#114624;
}

body {
  margin: 0;
  overscroll-behavior-y: none;
}